<div class="new-skill-header">
  <h1>What will You Teach?</h1>
  <h2>Show your Skills for other students to find you.</h2>
</div>

<div class="new-skill-container">
<%= render 'form', skill: @skill %>
</div>
