<div class="image-aboutus-banner"style="margin-top:30px">
   <div class="container">
    <div class="row">
        <div class="col-md-12">
         <h1 class="lg-text">About Lets Learn</h1>
         <p class="image-aboutus-para">Learn. Connect. Enjoy.</p>
       </div>
    </div>
</div>
</div>
<div class="container">
  <div class="aboutus-secktion paddingTB60">
    <div class="container">
      <div class="row">
      	<div class="col-md-6">
          <h1 class="strong">Who we are and<br>what we do</h1>
          <p class="lead">Lets Learn aims to connect students with teachers locally and around the world. A student can search for different teachers that signed up with the website for the different skills/lessons that they teach </p>
        </div>
        <div class="col-md-6">

<br>
          <h4>As a Student</h4>
          <ul>
            <li>Register as a student</li>
            <li>Search the database for different Teachers around the world or locally</li>
            <li>Students can also register to teach different lessons if they want too</li>
            <li> Students can sign up with the teacher with a chosen date and pay using the stripe payment method.</li>
            <li> Students can leave reviews out of 5 stars to rate the Teacher on how they taught.</li>
            <li> Message Teacher with any type of question.</li>
          </ul>
<br>

<h4>As a Teacher</h4>
<ul>
  <li>Register as a teacher</li>
  <li>Can create new lessons/skills to teach</li>
  <li>Teachers can also set the days they are free to teach whether it be local or over the computer</li>
  <li> Can see what students chose their lessons and accept or deny them</li>
  <li> Message students with any type of information</li>
</ul>

        </div>
      </div>
    </div>
  </div>
</div>
