<div class="banner">
  <div class="banner-left">
    <h1 id="change-text" class="fadeIn" >Lets Learn</h1>
  </div>
  <div class="banner-right animated infinite pulse">
    <h3>Have the Ability to reach out to your community and learn together.</h3>
    <%= link_to "Find a local teacher today", skills_path, class: "hp-button btn btn-success" %>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
  const text = [ "New Skills", "Improve Old Skills"];
  let counter = 0;
  const elem = document.getElementById("change-text");
  let intervalId = setInterval(change, 2000);
  function change() {
    elem.classList.remove('fadeIn');
    elem.classList.add('fadeOut');
    setTimeout(function () {
      elem.innerHTML = text[counter];
       elem.classList.remove('fadeOut');
      elem.classList.add('fadeIn');
      counter++;
      if (counter >= text.length) {
        counter = 0;
        clearInterval(intervalId);
       }
      }, 500);
    }
  </script>
<% end %>


<%= react_component(('LearnMore')) %>

<div class="wrapper-white">
  <div class="container">
    <div class="row">
      <div class="social-proof">
        <div class="col-sm-12 col-lg-6">

        </div>
         <div class="customer-text col-sm-12 col-lg-6">


        </div>
      </div>
    </div>
 </div>
</div>
