.footer{
  a {
  color: white ;
  font-size: 25px;
  }
 p {
  color: white;
  font-weight: lighter;
 }
}

.footer {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 43px;
  padding: 40px;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 0.2;
}

@media screen and (max-width: 780px){
 .footer p {
  font-size: 12px;
  margin-top: 10px;
  margin-left: 5px;
 }
}


/*FOOTER START///////////////////*/
// .footer {
//     padding: 50px 0 20px 0;
//     background-color: #090c14;
//     color: #878c94;
// }
// .footer .title{
// 	text-align: left;
// 	color:#fff;
// 	font-size:25px;
// }
// .footer .social-icon{
// 	padding:0px;
// 	margin:0px;
// }
// .footer .social-icon a{
// 	display:inline-block;
// 	color:#fff;
// 	font-size:25px;
// 	padding:5px;
// }
// .footer .acount-icon a{
// 	display:block;
// 	color:#fff;
// 	font-size:18px;
// 	padding:5px;
// 	text-decoration:none;
// }
// .footer .acount-icon .fa{
// 	margin-right:25px;
// }
// .footer .category a {
//     text-decoration: none;
//     color: #fff;
//     display: inline-block;
//     padding: 5px 20px;
//     margin: 1px;
//     border-radius:4px;
//     margin-top: 6px;
//     background-color: black;
//     border: solid 1px #fff;
// }
// .footer .payment{
// 	margin:0px;
// 	padding:0px;
// 	list-style-type:none
// }
// .footer .payment li{
// 	list-style-type:none
// }
// .footer .payment li a {
//     text-decoration: none;
//     display: inline-block;
//     color: #fff;
//     float: left;
//     font-size: 25px;
//     padding: 10px 10px;
// }
