

.banner-wide {
  height: 200px;
  background-position: center center;
}

.skill-show-page{
  font-family: $body-font;
  font-weight: lighter;
  display: grid;
  margin: 80px;
  grid-template-columns: 350px 600px;
  grid-template-rows: 50% 50%;
}


.teacher-skill-show-container{
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  font-family: $body-font;
  margin-right: 100px;

}




.skill-show-container{
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  margin: 20px;
}

@media screen and (max-width: 780px){
  .skill-show-container{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-top: 520px;
  }
  .skill-show-page{
    font-family: $body-font;
    font-weight: lighter;
    display: grid;
    margin-top: 80px;
    grid-template-columns: 250px 300px;
    grid-template-rows: 50% 50%;
  }
}


.skill-show-header{
 font-family: $headers-font;
 font-weight: lighter;
}

#skill-photo{
  width: 200px;
  border-radius: 50%;
  margin: 30px;
}


#btn-space {
  margin: 30px 0;
}

.skill-show-icon {
  width: 50px;
}

.teacher-details {
  margin-top: 30px;

}

.tab-item {
  margin-top: 30px;
}

.social-share {
  display: flex;

  p {
    margin-right: 30px;
    color: gray;
    font-size: 18px;
  }
}

// ---------------------------REVIEWS ---------------------
.skill-show-reviews {
  background-color: white;


  h4 {
    margin-bottom: 30px;
  }
}


@media screen and (max-width: 780px){
  .skill-show-reviews {
    margin-right: -50px;


    h4 {
      margin-bottom: 30px;
    }
  }
}

.average-rating {
  color:  $yellow;
}


.individual-review {
  // padding: 20px;

  li {
    list-style: none;
  }

  border-bottom: 1px solid #DDDDDD;
}

.review-comment {
  color: gray;
  font-style: italic;
  margin-top: 30px;
}


.review-name {
  margin-right: 10px;
}

.review-inline {

}
