// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-datepicker";
@import "social-share-button";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";
@import "skills/index";
@import "messages/index";
@import "profile/index";
@import "profile/show";

html, body {
  height: 100%;
  background-color: white;
}

.page-wrap {
  min-height: 100%;
}

.page-wrap:after {
  content: "";
  display: block;
}


/* Site Heading */
.site-heading h3{
   font-size : 40px;
   margin-bottom: 15px;
   font-weight: 600;
}
.border {
   background: #e1e1e1;
   height: 1px;
   width: 25%;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 45px;
}

.paddingTB60 {
   padding-top:60px;
   padding-bottom:60px;
}

  .image-aboutus-banner {
   background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://images.pexels.com/photos/673649/pexels-photo-673649.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   color: #fff;
   padding-top: 110px;
   padding-bottom:110px;
}

 .image-aboutus-sm-banner {
   background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://images.pexels.com/photos/631008/pexels-photo-631008.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   color: #fff;
   padding-top: 30px;
   padding-bottom:30px;
}
.lg-text {
   font-size:52px;
   font-weight: 600;
   text-transform: none;
   color:#fff;
}
.image-aboutus-para {
   color:#fff;
}


.capital {
   text-transform:uppercase;
}

/* Breadcum bar */
.bread-bar {
   background: #f9f9f9;
   box-shadow: 0 1px 2px rgba(0,0,0,.1);
   min-height: 40px;
   height: auto;
   position: relative;
   z-index: 555;
}
.breadcrumb {
   background: none;
   margin: 0;
   font-weight: 300;
   padding-left: 0;
   font-size: 13px;
}
.breadcrumb a {
   color: #999;
}
.breadcrumb > .active {
   color: #666;
}
.breadcrumb > li + li::before {
   content: "\203A";
   color: #999;
   padding: 0 8px;
}
